@page "/"
@inject Application application

<h1>Services</h1>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Source</th>
            <th>Bindings</th>
            <th>Replicas</th>
            <th>Restarts</th>
            <th>Logs</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var service in application.Services)
        {
            var logsPath = $"logs/{service.Value.Description.Name}";
            var servicePath = $"services/{service.Value.Description.Name}";
            <tr>
                <td><a href="@servicePath">@service.Value.Description.Name</a></td>
                <td>
                    @service.Value.ServiceType
                </td>
                <td>
                    @if (service.Value.Description.Project != null)
                    {
                        <p>@service.Value.Description.Project</p>
                    }
                    else if (service.Value.Description.DockerImage != null)
                    {
                        <p>@service.Value.Description.DockerImage</p>
                    }
                </td>
                <td>
                    @if (service.Value.Description.Bindings.Any())
                    {
                        foreach (var b in service.Value.Description.Bindings)
                        {
                            if (b.Port != null)
                            {
                                if (b.Protocol == null || b.Protocol == "http" || b.Protocol == "https")
                                {
                                    var url = GetUrl(b);
                                    <span><a href="@url" target="_blank">@url</a></span>
                                }
                                else
                                {
                                    <span>@GetUrl(b)</span>
                                }
                            }
                            else
                            {
                                <span>@b.ConnectionString</span>
                            }
                        }
                    }
                    else
                    {
                        <p>none</p>
                    }
                </td>
                <td>@service.Value.Replicas.Count/@service.Value.Description.Replicas</td>
                <td>@service.Value.Restarts</td>
                <td>
                    <NavLink href="@logsPath">View</NavLink>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    string GetUrl(ServiceBinding b)
    {
        return $"{(b.Protocol ?? "http")}://{b.Host ?? "localhost"}:{b.Port}";
    }
}
